{% extends 'admin/master.html' %}

{% block body %}
<h1 class="text-danger text-center mt-1">Danh sách lớp</h1>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Mã lớp</th>
                        <th>Tên lớp</th>
                        <th>Khối</th>
                        <th>Giáo viên chủ nhiệm</th>
                    </tr>
                </thead>
                <tbody>
                    {% for class in classes %}
                    <tr>
                        <td>{{ class.ma_lop }}</td>
                        <td>{{ class.ten }}</td>
                        <td>{{ class.ten_khoi }}</td>
                        <td>{{ class.ten_giang_vien }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}